.redo-question-page
  %h2 某学科相关练习题
  .question-border
    = render :partial => "do_question_mod", locals: { question: @question}
    %a{:class => "btn btn-default submit-answer" ,:href => "#"} 提交
    .next
      %a{:class => "btn btn-default back-flaw hidden" ,:href => "/question_flaws"} 返回错题本