.template.section
  .section.clearfix.hidden
    %h3 第{{section_index_plus}}大题
    .row
    .col-md-11
      .form-group.select.required.test_paper_sections_kind
        %label.select.required.col-md-2.control-label{for: "test_paper_sections_attributes_{{section_index}}_kind"}
          %abbr{title: "required"} *
          题型
        .col-md-10
          %select.select.required.form-control.kind{name: 'test_paper[sections_attributes][{{section_index}}][kind]', id: 'test_paper_sections_attributes_{{section_index}}_kind'}
            %option{:selected => "selected", :value => "single_choice"} 单选题
            %option{:value => "multi_choice"} 多选题
            %option{:value => "bool"} 判断题
            %option{:value => "fill"} 填空题
            %option{:value => "essay"} 论述题
            %option{:value => "mapping"} 连线题

      .form-group.string.required.test_paper_sections_score
        %label.string.required.col-md-2.control-label{:for => "test_paper_sections_attributes_{{section_index}}_score"}
          %abbr{:title => "required"} *
          每题分值
        .col-md-10
          %input.string.required.form-control.section_score{:name => "test_paper[sections_attributes][{{section_index}}][score]", :type => "text", :value => "" , :id => 'test_paper_sections_attributes_{{section_index}}_score'}/

      .form-group.select.required.test_paper_sections_min_level
        %label.select.required.col-md-2.control-label{:for => "test_paper_sections_attributes_{{section_index}}_min_level"}
          %abbr{:title => "required"} *
          难度系数下限
        .col-md-10
          %select.select.required.min_level.form-control{:name => "test_paper[sections_attributes][{{section_index}}][min_level]", id: "test_paper_sections_attributes_{{section_index}}_min_level"}
            %option{:selected => "selected", :value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "3"} 3
            %option{:value => "4"} 4
            %option{:value => "5"} 5
            %option{:value => "6"} 6
            %option{:value => "7"} 7
            %option{:value => "8"} 8
            %option{:value => "9"} 9
            %option{:value => "10"} 10

      .form-group.select.required.test_paper_sections_max_level
        %label.select.required.col-md-2.control-label{:for => "test_paper_sections_attributes_{{section_index}}_max_level"}
          %abbr{:title => "required"} *
          难度系数上限
        .col-md-9
          %select.select.required.max_level.form-control{:name => "test_paper[sections_attributes][{{section_index}}][max_level]", id: "test_paper_sections_attributes_{{section_index}}_max_level"}
            %option{:selected => "selected", :value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "3"} 3
            %option{:value => "4"} 4
            %option{:value => "5"} 5
            %option{:value => "6"} 6
            %option{:value => "7"} 7
            %option{:value => "8"} 8
            %option{:value => "9"} 9
            %option{:value => "10"} 10

      %input.hidden.section_position.form-control{type:"hidden", name:"test_paper[sections_attributes][{{section_index}}][position]",  id:"test_paper_sections_attributes_{{section_index}}_position", value:"{{section_index}}"}

      .form-group.opts
        %label.col-md-2.control-label{for: "test_paper_sections_attributes_{{section_index}}_min_level"} 选择考题
        .col-md-10
          %a.btn.btn-default.btn-random{href: 'javascript:;'} 系统随机
          %a.btn.btn-default.btn-choose{href: 'javascript:;'} 手动选题


      .form-group.hidden.test_paper_sections_question_ids_str
        .col-sm-10
          %input.hidden.form-control{type: "hidden", name: "test_paper[sections_attributes][{{section_index}}][question_ids_str]", id: "test_paper_sections_attributes_{{section_index}}_question_ids_str"}

      .clearfix
      .row
        .col-md-2
        .col-md-10
          %ul.section_questions

    .col-md-1
      %p.text-center
        %a.section_move_up{href: 'javascript:;'}
          %i.glyphicon.glyphicon-arrow-up
          %br
          上移
      %p.text-center
        %a.section_move_down{href: 'javascript:;'}
          %i.glyphicon.glyphicon-arrow-down
          %br
          下移
      %p.text-center
        %a.section_destroy{href: 'javascript:;'}
          %i.glyphicon.glyphicon-remove.red
          %br
          删除
