#modal-questions-selector.modal.fade{tabindex:"-1", role:"dialog", aria:{labelledby:"select_address_label", hidden:"true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:"button", data: {dismiss:"modal"}, aria: {label:"Close"} }
          %span{aria: {hidden:"true"}} &times;
        %h4.modal-title#select_address_label 手动选题
      .modal-body
        - QuestionBank::Question.all.each do |question|
          %label.controller-label{for: "question_#{question.id}", data: {question_id: question.id}}
            %input{type: 'checkbox', id: "question_#{question.id}"}
            %span= question.content

      .modal-footer
        %button.btn.btn-default{type:"button", data:{dismiss: "modal"}} 取消
        %button.button-questions-selector.btn.btn-primary 确定
