.question-record{
  .result-table{
    a{text-decoration: none;}
    a:link {color: #515151;}     
    a:hover {color: #515151;}
    a:active {color: #0000FF;}
  }

  .borderless td, .borderless th {
    border: none;
  }

  .borderless tr {
    border-bottom:1px dashed #DDDDDD;
  }

  .record-table{
    display: block;
    padding-top: 10px;
    .record_thead{
      background: #E4E4E4;
      .th_record_check{
        width: 5%;
        text-align: center;
      }
      .th_record_one{
        width: 12%;
        text-align: center;
      }
      .th_record_two{
        width: 47%;
        text-align: center;
      }
      .th_record_three{
        width: 6%;
        text-align: center;
      }
      .th_record_four{
        width: 7%;
        text-align: center;
      }
      .th_record_five{
        width: 23%;
        text-align: center;
      }

    }
  }

  .record-bottom{
    padding-top: 50px;
  }

}

.question-flaw{
  .result-table{
    padding-top: 20px;
    a{text-decoration: none;}
    a:link {color: #515151;}     
    a:hover {color: #515151;}
    a:active {color: #0000FF;}
  }

  .borderless td, .borderless th {
    border: none;
  }

  .borderless tr {
    border-bottom:1px dashed #DDDDDD;
  }

  .flaw-table{
    display: block;
    padding-top: 10px;
    .flaw_thead{
      background: #E4E4E4;
      .th_record_check{
        width: 5%;
        text-align: center;
      }
      .th_record_one{
        width: 9%;
        text-align: center;
      }
      .th_record_two{
        width: 47%;
        text-align: center;
      }
      .th_record_three{
        width: 12%;
        text-align: center;
      }
      .th_record_four{
        width: 11%;
        text-align: center;
      }
      .th_record_five{
        width: 16%;
        text-align: center;
      }
    }
  }

  .flaw-bottom{
    display:block;
    padding-top:50px;
  }
}
