@import "bootstrap-sprockets";
@import "bootstrap";
@import "quick_filter_bar";

body {
  background-color: #fafafa;
  font-family: '微软雅黑', arial;
  color: #444;
}

.engine-generated {
  padding: 15px;
  background-color: #ffffda;
  .desc {
    font-size: 16px;
    margin-bottom: 10px;
    &.current-user {
      color: #FF4400;
    }
  }
}

.page-new-question-single-choice{
  .radio{
    margin-left: 20px;
  }
}
.page-new-question-multi-choice{
  .checkbox{
    margin-left: 20px;
  }
}
.question-single-choice{
  .option{
    .option-radio{
      display: inline
    }
    .option-content{
      display:inline
    }
  } 
}

// 做题页
.page-new-question-single-choice{
  .radio{
    margin-left: 20px;
  }
}
.page-new-question-multi-choice{
  .checkbox{
    margin-left: 20px;
  }
}
.question-single-choice{
  .option{
    .option-radio{
      display: inline
    }
    .option-content{
      display:inline
    }
  } 
}
.do-question-msg{
  height: 100px;
  color:red
}
.option-checkbox{
display:inline
}
.option-content{
display:inline
}
.glyphicon-remove{
  color: red
}
.question-border{
    border-radius: 25px;
    border: 2px solid #0099CC;
    padding: 20px;   
}
.question-title-1{
  font-size: 1.5em;
}
.question-title-2{
  font-size: 1.2em;
}