@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: '微软雅黑', arial;
  color: #444;
}

.engine-generated {
  padding: 15px;
  background-color: #ffffda;
  .desc {
    font-size: 16px;
    margin-bottom: 10px;
    &.current-user {
      color: #FF4400;
    }
  }
}

.page-new-question-single-choice{
  .radio{
    margin-left: 20px;
  }
}
.page-new-question-multi-choice{
  .checkbox{
    margin-left: 20px;
  }
}
