.question-flaw
  %ul.nav.nav-tabs
    %li{role: "presentation"}
      %a{href: '/question_records'} 做题记录
    %li.active{role: "presentation"}
      %a{href: '/question_flaws'} 错题本
    %li{role: "presentation"}
      %a 题目收藏

  = quick_filter_bar do |builder|
    - builder.group :kind, :text => "类型" do |group|
      - group.add "single_choice",   :text => "单选题"
      - group.add "multi_choice", :text => "多选题"
      - group.add "fill", :text => "填空题"
      - group.add "mapping", :text => "连线题"
      - group.add "bool", :text => "判断题"
      - group.add "essay", :text => "论述题"
    - builder.group :time, :text => "时间" do |group|
      - group.add "a_week",   :text => "一周内"
      - group.add "a_month", :text => "一个月内"
      - group.add "three_months", :text => "三个月内"

  %table.table.table-hover.flaw-table
    %thead.flaw_thead
      %td.th_record_check
        %input.flaw-checked-all{ type: "checkbox" } 全选
      %th.th_record_one 时间
      %th.th_record_two 题目
      %th.th_record_three 正确答案
      %th.th_record_four 答案解析
      %th.th_record_five 操作
    %tbody.flaw_tbody
      = render partial: "flaw_index_tr", locals: {question_flaw: @question_flaws}
  .flaw-bottom
    %a.btn.btn-default.batch-delete-flaw{:role=>"button"}
      %i.glyphicon.glyphicon-trash
      %span 批量删除记录