- if question_records.blank?
  %tr
    %td{colspan: 6} 没有数据
- question_records.each do |record|
  %tr
    %td
      %input{type: "checkbox", value: record.id}
    %td
      = record.created_at
    %td
      = record.question.content
    %td
      = record.question.human_kind
    %td
      - if record.is_correct == false
        %span.font-format-error 错误
      - if record.is_correct == true
        %span.font-format-right 正确
    %td
      - if record.is_correct == false
        - is_in_flaw_list = record.question.is_in_flaw_list_of?(current_user)
        - if !is_in_flaw_list
          %a.btn.btn-default.insert-flaw{ href: "javaScript:;", :data =>{:question_record_id => "#{record.id}"}}
            %i.glyphicon.glyphicon-plus
            %span 加入错题本
        - else
          %a.btn.btn-default.insert-flaw{ href: "javaScript:;",disabled: "disabled"}
            %span 已加入错题本
      %a.btn.btn-default.delete-record{ href: "javaScript:;", data: {question_record_id: record.id} }
        %i.glyphicon.glyphicon-trash
        %span 删除记录
