- question_record.each do |record|
  %tr
    %td
      %input{type: "checkbox"}
    %td
      = record.created_at
    - questions = QuestionBank::Question.find(record.questions_id)
    %td 
      = questions.content
    %td 
      - if questions.kind == "bool"
        判断题
      - if questions.kind == "single_choice"
        单选题
      - if questions.kind == "multi_choice"
        多选题
      - if questions.kind == "mapping"
        连线题
      - if questions.kind == "fill" 
        填空题
      - if questions.kind == "essay"
        论述题
    %td
      - if record.is_correct == false
        错误
      - if record.is_correct == true
        正确
    %td 
      - if record.is_correct == false
        - whether_blank_flaw = QuestionBank::QuestionFlaw.where(question_id: record.questions_id).to_a
        - if whether_blank_flaw == [] 
          %a.btn.btn-default.insert-flaw{ href: "javaScript:;", :data =>{:question_record_id => "#{record.id}"}}
            %i.glyphicon.glyphicon-plus
            %span 加入错题本
        - if whether_blank_flaw != []
          %a.btn.btn-default.insert-flaw{ href: "javaScript:;",disabled: "disabled"}
            %span 已加入错题本
      %a.btn.btn-default{ href: "/question_record/#{record.id}", data: {confirm: "Are you sure you want to delete this record?", method: :delete} }
        %i.glyphicon.glyphicon-trash 
        %span 删除记录