.question-record
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}
      %a{href: '/question_record'} 做题记录
    %li{role: "presentation"}
      %a{href: "/question_flaw"} 错题本
    %li{role: "presentation"}
      %a 题目收藏
  %table.table
    %tr
      %td
  %table.table
    %tr
      %td 结果：
      %td
        %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td 
        %a{href: 'javaScript:;'} 正确
      %td{colspan: 5} 
        %a{href: 'javaScript:;'} 错误 
    %tr
      %td 类型：
      %td
        %a{href: 'javaScript:;'} 
          %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td 
        %a{href: 'javaScript:;'} 单选题
      %td 
        %a{href: 'javaScript:;'} 多选题
      %td
        %a{href: 'javaScript:;'} 填空题
      %td
        %a{href: 'javaScript:;'} 连线题
      %td
        %a{href: 'javaScript:;'} 判断题
      %td
        %a{href: 'javaScript:;'} 论述题
    %tr
      %td 时间：
      %td 
        %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td
        %a{href: 'javaScript:;'} 一周内
      %td
        %a{href: 'javaScript:;'} 一个月内
      %td
        %a{href: 'javaScript:;'} 三个月内
      %td{colspan: 3} 
        %input{type: "text"} ——
        %input{type: "text"}
        %a{href: 'javaScript:;'}
          %i.glyphicon.glyphicon-search

  %table.table.record-table{ :style => 'display:block;padding-top:10px;' }
    %tr{style: 'background: #E4E4E4;'}
      %td
      %th{width: "12%;"} 时间
      %th{width: "61%;"} 题目
      %th{width: "6%;"} 类型
      %th{width: "7%;"} 做题结果
      %th{width: "14%;"} 操作
    - @question_record.each do |record|
      %tr
        %td
          %input{type: "checkbox"}
        %td
          = record.created_at
        %td 
          - questions = QuestionBank::Question.find(record.questions_id)
          = questions.content
        %td 
          - questions = QuestionBank::Question.find(record.questions_id)
          - if questions.kind == "bool"
            判断题
          - if questions.kind == "single_choice"
            单选题
          - if questions.kind == "multi_choice"
            多选题
          - if questions.kind == "mapping"
            连线题
          - if questions.kind == "fill" 
            填空题
          - if questions.kind == "essay"
            论述题
        %td
          - if record.is_correct == false
            错误
          - if record.is_correct == true
            正确
        %td 
          - if record.is_correct == false
            %a.insert-flaw{ href: "javaScript:;" } 加入错题本
          %a{ href: "/question_record/#{record.id}", data: {confirm: "Are you sure you want to delete this record?", method: :delete} } 删除记录
  .record-bottom{ :style => 'display:block;padding-top:50px;' }
    %input{ type: "checkbox" } 全选
    %button.btn.btn-default.active{ type: "button" }批量加入错题本
    %button.btn.btn-default.active{ type: "button" }批量删除记录