.question-record
  / %nav.navbar.navbar-default
  /   .container
  / %ol.breadcrumb
  /   %li 
  /     %a{href: 'javascript:;'} Home
  /   %li 
  /     %a{href: 'javascript:;'} Library
  /   %li.active Date
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}
      %a{href: 'javascript:;'} 做题记录
    %li{role: "presentation"}
      %a 错题本
    %li{role: "presentation"}
      %a 题目收藏
  %table.table
    %tr
      %td
  %table.table.table-condensed
    %tr
      %td 结果：
      %td 全部
      %td 正确
      %td{colspan: 5} 错误 
    %tr
      %td 类型：
      %td 全部
      %td 单选题
      %td 多选题
      %td 填空题
      %td 连线题
      %td 判断题
      %td 论述题
    %tr
      %td 时间：
      %td 全部
      %td 一周内
      %td 一个月内
      %td 三个月内
      %td{colspan: 3} 
        %input{type: "text"} ——
        %input{type: "text"}

  %table.table
    %tr{style: 'background: #E4E4E4;'}
      %td 时间
      %td 题目
      %td 类型
      %td 做题结果
      %td 操作
    %tr
      %td 2015-10-20 15:33
      %td 销售流程的各个环节包括：　　　　、有效拉近与客户距离、确认客户需求、成功说服客户、异议处理以及最终提供满意方案等。
      %td 填空题
      %td 正确
      %td 
        %a{href: "javaScript:;"} 删除记录
  / {:style => 'display:block;padding-top:64px;'}
  / <div class="checkbox">
  /   <label>
  /     <input type="checkbox"> Check me out
  /   </label>
  / </div>
  .record-bottom{:style => 'display:block;padding-top:50px;'}
    %input{type: "checkbox"} 全选
    %button.btn.btn-default.active{type: "button"}批量加入错题本
    %button.btn.btn-default.active{type: "button"}批量删除记录

