-if notice.present?
  = notice
.question-record
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}
      %a{href: '/question_record'} 做题记录
    %li{role: "presentation"}
      %a{href: "/question_flaw"} 错题本
    %li{role: "presentation"}
      %a 题目收藏
  %table.table
    %tr
      %td
  %table.table.result-table
    %tr
      %td 结果：
      %td
        %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td 
        %a.question-right{href: 'javaScript:;', data:{ whether_correct: "true", kind: "is_correct" }} 正确
      %td{colspan: 5} 
        %a.question-wrong{href: 'javaScript:;'} 错误 
    %tr
      %td 类型：
      %td
        %a{href: 'javaScript:;'} 
          %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td 
        %a{href: 'javaScript:;'} 单选题
      %td 
        %a{href: 'javaScript:;'} 多选题
      %td
        %a{href: 'javaScript:;'} 填空题
      %td
        %a{href: 'javaScript:;'} 连线题
      %td
        %a{href: 'javaScript:;'} 判断题
      %td
        %a{href: 'javaScript:;'} 论述题
    %tr
      %td 时间：
      %td 
        %span{style: 'background: #0099FF; color: #FFFFFF'} 全部
      %td
        %a{href: 'javaScript:;'} 一周内
      %td
        %a{href: 'javaScript:;'} 一个月内
      %td
        %a{href: 'javaScript:;'} 三个月内
      %td{colspan: 3} 
        %input{type: "text"} ——
        %input{type: "text"}
        %a{href: 'javaScript:;'}
          %i.glyphicon.glyphicon-search

  %table.table.record-table{ :style => 'display:block;padding-top:10px;' }
    %thead{style: 'background: #E4E4E4;'}
      %tr
        %td
        %th{width: "12%;"} 时间
        %th{width: "52%;"} 题目
        %th{width: "6%;"} 类型
        %th{width: "7%;"} 做题结果
        %th{width: "23%;"} 操作
    %tbody.record-body
      - if @question_record.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @question_record.each do |record|
        = render :partial => "record_index_tr",locals: { record: record }
  .record-bottom{ :style => 'display:block;padding-top:50px;' }
    %input{ type: "checkbox" } 全选
    %button.btn.btn-default.active{ type: "button" }批量加入错题本
    %button.btn.btn-default.active{ type: "button" }批量删除记录