-if notice.present?
  = notice
.question-record
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}
      %a{href: '/question_record'} 做题记录
    %li{role: "presentation"}
      %a{href: "/question_flaw"} 错题本
    %li{role: "presentation"}
      %a 题目收藏
  %table.table
    %tr
      %td
  %table.table.result-table
    %tr
      %td 结果：
      %td
        %a.btn-default.question-result-all{href: '/question_record'} 全部
      %td 
        %a.btn-default.question-right{href: 'javaScript:;', data:{ whether_correct: "true", kind: "is_correct" }} 正确
      %td{colspan: 5} 
        %a.btn-default.question-wrong{href: 'javaScript:;', data:{ whether_correct: "false", kind: "is_correct" }} 错误 
    %tr
      %td 类型：
      %td
        %a.btn-default.question-type-all{href: '/question_record'} 全部
      %td 
        %a.btn-default.question-single{href: 'javaScript:;', data:{ kind: "single_choice" }} 单选题
      %td 
        %a.btn-default.question-multi{href: 'javaScript:;', data:{kind: "multi_choice"}} 多选题
      %td
        %a.btn-default.question-fill{href: 'javaScript:;', data:{kind: "fill"}} 填空题
      %td
        %a.btn-default.question-mapping{href: 'javaScript:;', data:{kind: "mapping"}} 连线题
      %td
        %a.btn-default.question-bool{href: 'javaScript:;', data:{kind: "bool"}} 判断题
      %td
        %a.btn-default.question-essay{href: 'javaScript:;', data:{kind: "essay"}} 论述题
    %tr
      %td 时间：
      %td 
        %a.btn-default.question-time-all{href: '/question_record'} 全部
      %td
        %a.btn-default.question-a-week{href: 'javaScript:;', data:{kind: "a_week"}} 一周内
      %td
        %a.btn-default.question-a-month{href: 'javaScript:;', data:{kind: "a_month"}} 一个月内
      %td
        %a.btn-default.question-three-months{href: 'javaScript:;', data:{kind: "three_months"}} 三个月内
      %td{colspan: 3} 
        / .container.col-md-5.form-group
        /   .input-group.date{id: "datetimepicker6"}
        /     %input.form-control{type: "text", id: "time_first"}
        /     %span.input-group-addon
        /       %span.glyphicon.glyphicon-calendar
        %input{type: "text", id: "time_first"}
        ——
        %input{type: "text", id: "time_second"}
        %a.btn-default.question-time-fragment{href: 'javaScript:;', data:{kind: "time_fragment"}}
          %i.glyphicon.glyphicon-search
        %span (例：2015-11-11)

  %table.table.table-hover.record-table
    %thead.record_thead
      %tr
        %td
        %th.th_record_one 时间
        %th.th_record_two 题目
        %th.th_record_three 类型
        %th.th_record_four 做题结果
        %th.th_record_five 操作
    %tbody.record-tbody
      = render :partial => "record_index_tr",locals: { question_record: @question_record }
  .record-bottom
    %input{ type: "checkbox" } 全选
    %button.btn.btn-default{ type: "button" }
      %i.glyphicon.glyphicon-plus
      %span 批量加入错题本
    %button.btn.btn-default{ type: "button" }
      %i.glyphicon.glyphicon-trash
      %span 批量删除记录

  .user_name
    - if current_user != nil 
      = current_user.name
    - else 
      %span 请登录